<div class="container-fluid">

  <% if current_user %>
    <div class="userform">
      <h2>修改會員資料</h2>

      <!-- errors msg //satrt -->
      <% if @user.errors.present? %>
        <% @user.errors.each do |error,message| %>
          <div class="alert alert-danger dismissable-alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <li><strong>WARNING</strong> : <%= "#{error.capitalize} #{message}" %></li>
          </div>
        <% end %>
        <hr><br />
      <% end %>
      <!-- errors msg //end -->
      
      <!-- user edit form //start-->
      <%= form_for @user do |f| %>
        <div class="form-group">
          
          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter Email" %>
          </div><br />

          <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control", placeholder: "Enter Name" %>
          </div><br />
          
          <div class="action">
            <%= f.submit "更新會員資料", class: "btn btn-outline-primary"%>
            <%= f.button "取消變更", type: :reset, class: "btn btn-outline-secondary" %>
          </div>

        </div>
      <% end %>
      <!-- user edit form //end-->
      

    </div>
  <% else %>
    <div class="alert alert-danger dismissable-alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h2 class="text-center">非該會員無法編輯會員資料</h2>
    </div>
    <hr>
  <% end %>

</div>