<div class="container-fluid">
  <div class="row">

  <!-- user name & email //start -->
  <div class="container">
    <table class="table table-responsive profile borderless">
      <tr>
        <td><h5><span class="badge badge-dark">使用者名稱</span></h5></td>
        <td><h6><span><%= @user.name %></span></h6></td>
      </tr>
      <tr>
        <td><h5><span class="badge badge-dark">Email</span></h5></td>
        <td><h6><%= @user.email %></h6></td>
      </tr>
      <tr>
        <td><%= link_to("Edit Profile",edit_user_path(params[:id]), class: "btn btn-outline-secondary") %></td>
      </tr>
    </table>
    <hr><br />
  </div>
  <!-- user name & email //end -->

  <!-- user interesrted events// start -->
  <div class="container">

    <div class="col-md-12">
      <span class="text-muted"><strong>已收藏</strong></span> <span class="badge badge-dark"><%= @user.interested_events.size%></span>  
    </div><br />
    
    <div class="d-flex flex-container flex-wrap">
      <% @interested_events.each do |event| %> 
        <div class="col-lg-3 col-md-4 col-sm-12 p-2 d-flex justify-content-center">
          <%= render partial: "shared/event_list", locals: {object: event} %> 
        </div>
      <% end %>
    </div>

  </div>
  <!-- user interesrted events// end -->

  <!-- user viewed recently// start -->
  <div class="container">

    <div class="col-md-12">
      <span class="text-muted"><strong>最近瀏覽</strong></span>  
    </div><br />
    
    <div class="d-flex flex-container flex-wrap">
      <% @viewed_events.each do |event| %>
        <div class="col-lg-3 col-md-4 col-sm-12 p-2 d-flex justify-content-center">
          <%= render partial: "shared/event_list", locals: {object: event} %>
        </div>
      <% end %>
    </div>

  </div>
  <!-- user viewed recently// end -->


  </div> <!-- .row //end -->
</div>
