<div class="event">

  <%= link_to event_path(object) do %> 
    <!-- img //start -->
    <div class="img">
      <%= image_tag object.img, width: "250", height: "250", class: "rounded mx-auto d-block img-fluid" if object.img?%>
      <%= image_tag "http://via.placeholder.com/250x250", class: "rounded mx-auto d-block img-fluid"  unless object.img?%> 
    </div>
    <!-- img //end -->
  <% end %>

  <div class="date text-center">
    <%= object.date %>
    <span id="interest-<%= object.id %>" class="text-center">
      <%= render partial: "shared/interest", locals: {object: object} %>
    </span>
  </div>

  <div class="container-fluid text-center">
    <h6 class="text-center"><%= link_to object.title, event_path(object) %></h6>
    <div class="artist">演出者 <br />
      <% if object.artist %>
        <span><strong><%= link_to object.artist_name, artist_path(object.artist) %></strong></span>
      <% end %>
    </div>
    <% if flag %>
      <div class="place">地點 <br /><span><strong><%= object.stage %></strong></span></div>
     <% end %>
  </div>

</div>