<div class="event">

  <%= link_to event_path(object) do %> 
    <!-- img //start -->
    <div class="img">
      <%= image_tag object.img, width: "250", height: "250", class: "rounded mx-auto d-block img-fluid" if object.img?%>
      <%= image_tag "http://via.placeholder.com/250x250", class: "rounded mx-auto d-block img-fluid"  unless object.img?%> 
    </div>
    <!-- img //end -->
  <% end %>

  <div class="date text-center">
    <%= object.date %>
    <span id="interest-<%= object.id %>" class="text-center">
      <%= render partial: "shared/interest", locals: {object: object} %>
    </span>
  </div>

  <div class="container-fluid">
    <h5 class="text-center"><%= link_to object.title, event_path(object) %></h5>
    <% if flag %>
      <div class="place">地點 <span><%= object.stage %></span></div>
      <div class="time">時間 
        <% if object.time == nil %>
          <span><%= object.time %></span>
        <% else %>
          <span><%= object.time.slice(0..4) %></span>
        <% end %>
      </div>
     <% end %>
  </div>

</div>