<div class="event">

  <%= link_to event_path(object) do %> 
    <!-- img //start -->
    <div class="img">
      <%= image_tag object.img, width: "250", height: "250", class: "rounded mx-auto d-block img-fluid" if object.img?%>
      <%= image_tag "https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/10440134_10152691357289305_1073162233428965026_n.png?_nc_cat=0&_nc_eui2=v1%3AAeEbw6x8pNWalSgC4utDLwPFCO9J9EKLN6IKoL1475gucM59_-u2ybhW6o5OeJ6d9kl1bFOc5CX24vmkoOda2HMaAW2F_HaM7LPklDc2LKhCNQ&oh=1fe6caba187d6b7a7d129e301d0d4800&oe=5B6932F1", class: "rounded mx-auto d-block img-fluid" unless object.img?%> 
    </div>
    <!-- img //end -->
  <% end %>

  <div class="date text-center">
    <%= object.date %>
    <span id="interest-<%= object.id %>" class="text-center">
      <%= render partial: "shared/interest", locals: {object: object} %>
    </span>
  </div>

  <div class="container-fluid text-center">
    <h6 class="text-center"><%= link_to object.title, event_path(object) %></h6>
    <div class="artist">演出者 <br />
      <% if object.artist %>
        <span><strong><%= link_to object.artist_name, artist_path(object.artist) %></strong></span>
      <% else %>
        <span><strong><%= object.artist_name %></strong></span>
      <% end %>
    </div>
    <% if flag %>
      <div class="place">地點 <br /><span><strong><%= render partial: "shared/location", locals: {object: object} %></strong></span></div>
     <% end %>
  </div>

</div>