<div class="container">
  <div class="col-md-12 offset-md-0">
    <div class="row">
      
      <div class="col-md-9"></div>
      <div class="col-md-3" id="event-filter">
        <select class="custom-select">
          <option selected>依條件排序</option>
          <option value="1">時間</option>
          <option value="2">熱門度</option>
          <option value="3">瀏覽人次</option>
        </select>
      </div>

      <div class="col-md-12"></div>

      <% @events.each do |event| %>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="event">
            <%= link_to event_path(event) do %>
              <img src="http://via.placeholder.com/200x200">
            <% end %>
            <div class="date">
              <%= event.date %>
              <span class="like-btn">♡</span> <!-- 條件判斷切換 like 狀態 -->
            </div>
            <h5><%= link_to event.title, event_path(event) %></h5>
            <div class="place">地點 <span><%= event.stage %></span></div>
            <div class="time">時間 <span><%= event.time.slice(0..4) %></span></div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>