<div class="container">
  <div class="col-md-12 offset-md-0">
    <div class="row">

      <!-- ransack //start -->
      <div class="container-fluid col-12" id="event-filter">

        <%= search_form_for @q, url: events_path do |f| %>

          <div class="form-row form-group">
              
            <div class="search-select d-flex justify-content-center col-md-3 col-sm-12">
              <div class="input-group mb-3">
                <%= f.select :stage_eq, Event::STAGE.map(&:reverse), prompt: "選擇活動地點", include_blank: "所有活動地點" %>
              </div>
            </div>

            <div class="search-search col-md-6 col-sm-12">
              <%= f.search_field :artist_name_or_title_or_city_or_detail_cont, placeholder: "搜尋演出的獨立音樂創作者、創作團體、活動、城市或關鍵字", class: "form-control" %>
            </div>

            <div class="search-submit col-md-1 col-sm-12">
              <%= f.submit '搜尋', class: "btn btn-outline-dark form-control" %>
            </div>
            
            <!-- 排序 -->
            <div class="col-md-2 col-sm-12">
              <div class="dropdown show">
                <a class="btn btn-dark dropdown-toggle form-control text-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  排序
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item"><%= sort_link(@q, :views_count, "依瀏覽數排序", default_order: :desc)%>
                  <a class="dropdown-item"><%= sort_link(@q, :date, "依活動日期排序", default_order: :desc) %></a>
                  <a class="dropdown-item"><%= sort_link(@q, :interests_count, "依收藏數排序", default_order: :desc) %></a>
                </div>
              </div>

            </div>



          </div>
        <% end %>

        <hr>
      </div>
      <!-- ransack //end -->

      <div class="col-md-12"></div>

      <% @events.each do |event| %>
        <div class="col-lg-3 col-md-4 col-sm-6">

          <%= render partial: "shared/event_list", locals: {object: event} %>

        </div>
      <% end %>

    </div>
  </div>
</div>