<div class="container">
  <div class="col-md-12 offset-md-0 container-fluid">

    <div class="row">

      <!-- ransack //start -->
      <div class="container-fluid col-12" id="event-filter">

        <%= search_form_for @q, url: posts_events_path do |f| %>

          <div class="form-row form-group text-center">

            <div class="col-md-3 col-sm-12">
              <div class="input-group mb-3">
                <%= f.select :stage_eq, Event::STAGE.map(&:reverse), prompt: "活動地點", include_blank: "所有活動地點" %>
              </div>
            </div>

            <div class="col-md-1 col-sm-12">
              <div class="input-group mb-3">
                <%= f.select :city_eq, Event::CITY.map(&:reverse), prompt: "城市", include_blank: "所有城市" %>
              </div>
            </div>

            <div class="search-date col-md-8 col-sm-12">
              <%= f.label :date, '起始日期:' %>
              <%= f.date_field :date_gteq, class: "col-md-4 col-sm-12"%>

              <%= f.label :date, '至:' %>
              <%= f.date_field :date_lteq, class: "col-md-4 col-sm-12"%>
            </div>

            <div class="search-search col-md-8 col-sm-12">
              <%= f.search_field :artist_name_or_title_or_city_or_detail_or_stage_cont, placeholder: "搜尋演出的獨立音樂創作者、創作團體、活動、城市、地點或關鍵字", class: "form-control" %>
            </div>

            <div class="search-submit col-md-2 col-sm-12">
              <%= f.submit '搜尋', class: "btn btn-outline-dark form-control" %>
            </div>

            <!-- 排序 -->
            <div class="col-md-2 col-sm-12">
              <div class="dropdown show">
                <a class="btn btn-dark dropdown-toggle form-control text-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  排序
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item"><%= sort_link(@q, :views_count, "依瀏覽數排序", default_order: :desc)%>
                  <a class="dropdown-item"><%= sort_link(@q, :date, "依活動日期排序", default_order: :desc) %></a>
                  <a class="dropdown-item"><%= sort_link(@q, :interests_count, "依收藏數排序", default_order: :desc) %></a>
                  <a class="dropdown-item"><%= sort_link(@q, :created_at, "依平台發佈時間排序", default_order: :desc) %></a>
                </div>
              </div>

            </div>

          </div>
        <% end %>
        <hr>
      </div>
      <!-- ransack //end -->

      <div class="col-md-12"></div>

      <div class="col-lg-9 col-md-9 col-sm-12 w-100">
        <% @events.each do |event| %>
          <div class="post">
            <div class="row">
              <!-- 標題 -->
              <div class="col-12 text-center phead">
                <span class="col-md-3 pdate">
                  <%= event.date %>
                </span>
                <span class="col-md-8 ptitle">
                  <br /><%= link_to event.title, event_path(event)%>
                </span>
              </div>

              <!-- 內容 -->
              <div class="col-md-8">
                <div id="carouselIndicators<%= event.id %>" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <% i = 0 %>
                    <!-- youtube -->
                    <% if event.video.present? %>
                      <div class="carousel-item active">
                        <iframe id="existing-iframe-example"
                                      width="500" height="350"
                                      src="<%= event.video %>"
                                      frameborder="0"
                                      style="border: none"
                                      class="musicpiece d-block"
                                      allowfullscreen
                              ></iframe>
                      </div>
                      <% i += 1 %>
                    <% end %>
                    <!-- spotify -->

                    <% if event.spotify_artist_id.present? %>
                      <div class="carousel-item <%= "active" if i == 0 %>">
                        <iframe src="https://open.spotify.com/embed/artist/<%= event.spotify_artist_id %>" width="500" height="350" frameborder="0" allowtransparency="true" allow="encrypted-media" class="musicpiece d-block w-100"></iframe>
                      </div>
                      <% i += 1 %>
                    <% end %>
                    <!-- event picture -->
                    
                    <% if event.img.present? %>
                      <div class="carousel-item <%= "active" if i == 0 %>">
                        <%= image_tag event.img ,class: "musicpiece rounded mx-auto d-block img-fluid" %>
                      </div>
                      <% i += 1 %>
                    <% else %>
                      <div class="carousel-item <%= "active" if i == 0 %>">
                        <img class="musicpiece rounded mx-auto d-block img-fluid" src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/10440134_10152691357289305_1073162233428965026_n.png?_nc_cat=0&_nc_eui2=v1%3AAeEbw6x8pNWalSgC4utDLwPFCO9J9EKLN6IKoL1475gucM59_-u2ybhW6o5OeJ6d9kl1bFOc5CX24vmkoOda2HMaAW2F_HaM7LPklDc2LKhCNQ&oh=1fe6caba187d6b7a7d129e301d0d4800&oe=5B6932F1">
                        <div class="carousel-caption">
                        </div>
                      </div>
                      <% i += 1 %>
                    <% end %>
                    

                  </div> <!-- .carousel-inner//end -->

                  <% if i > 1 %>
                    <ol class="carousel-indicators">
                      <% for j in 0..(i-1) %>
                        <li data-target="#carouselIndicators<%= event.id %>" data-slide-to="<%= j %>" class="<%= "active" if j == 0 %>"></li>
                      <% end %>
                    </ol>
                  
                    <a class="carousel-control-prev" href="#carouselIndicators<%= event.id %>" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselIndicators<%= event.id %>" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  <% end %>
                </div>
              </div>

              <div class="col-md-4 post-info">
                <div class="event-info">演出者 
                  <% if event.artist %>
                    <span><strong><%= link_to event.artist_name, artist_path(event.artist) %></strong></span>
                  <% else %>
                    <span><strong><%= event.artist_name %></strong></span>
                  <% end %>
                </div>
                <div class="event-info">城市 <span><%= event.city %></span></div>
                <div class="event-info">地點 <span><%= render partial: "shared/location", locals: {object: event} %></span></div>
                <div class="event-info time">時間 
                  <% if event.time == nil %>
                    <span><%= event.time %></span>
                  <% elsif %>
                    <span><%= event.time.slice(0..4) %></span>
                  <% end %>
                </div>
                <div class="event-info">收藏 
                  <span class="interest text-center">
                    <span id="interest-<%= event.id %>">
                      <%= render partial: "shared/interest", locals: {object: event} %>
                    </span>
                  </span>
                </div>

              </div>
            </div>
          </div>
        <% end %>
      </div> 

      <div class="col-lg-3 col-md-3 col-sm-0">
        <h4>熱門活動</h4><br>
        <% @popular_events.each do |event| %>
          <%= render partial: "shared/event_list", locals: {object: event, flag: false} %>
        <% end %>
      </div>

      <div class="col-md-12"></div>
        <div class="paginate">
          <%= paginate @events %>
        </div>
      </div>
  
  </div>
</div>