<div class="container">
  <div class="col-md-12 offset-md-0 container-fluid">

    <div class="row">

      <!-- ransack //start -->
      <div class="container-fluid col-12" id="event-filter">

        <%= search_form_for @q, url: posts_events_path do |f| %>

          <div class="form-row form-group">
              
            <div class="search-date col-md-4 col-sm-12">
              <%= f.label :date, '日期:' %>
              <%= f.date_field :date_gteq %>

              <%= f.label :date, '至:' %>
              <%= f.date_field :date_lteq %>
            </div>

            <div class="search-search col-md-6 col-sm-12">
              <%= f.search_field :artist_name_or_title_or_city_or_detail_or_stage_cont, placeholder: "搜尋演出的獨立音樂創作者、創作團體、活動、城市、地點或關鍵字", class: "form-control" %>
            </div>

            <div class="search-submit col-md-1 col-sm-12">
              <%= f.submit '搜尋', class: "btn btn-outline-dark form-control" %>
            </div>

            <!-- 排序 -->
            <div class="col-md-1 col-sm-12">
              <div class="dropdown show">
                <a class="btn btn-dark dropdown-toggle form-control text-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  排序
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item"><%= sort_link(@q, :views_count, "依瀏覽數排序", default_order: :desc)%>
                  <a class="dropdown-item"><%= sort_link(@q, :date, "依活動日期排序", default_order: :desc) %></a>
                  <a class="dropdown-item"><%= sort_link(@q, :interests_count, "依收藏數排序", default_order: :desc) %></a>
                </div>
              </div>
            </div>

          </div>
        <% end %>
        <hr>
      </div>
      <!-- ransack //end -->

      <div class="col-md-12"></div>

      <div class="col-lg-9 col-md-9 col-sm-12 w-100">
        <% @events.each do |event| %>
          <div class="post">
            <div class="row">
              <!-- 標題 -->
              <div class="col-12 text-center phead">
                <span class="col-md-3 pdate">
                  <%= event.date %>
                </span>
                <span class="col-md-8 ptitle">
                  <%= link_to event.title, event_path(event)%>
                </span>
              </div>

              <!-- 內容 -->
              <div class="col-md-8">
                <div id="carouselIndicators<%= event.id %>" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <% i = 0 %>
                    <!-- youtube -->
                    <% if event.video != nil %>
                      <div class="carousel-item active">
                        <iframe id="existing-iframe-example"
                                      width="500" height="350"
                                      src="<%= event.video %>"
                                      frameborder="0"
                                      style="border: none"
                                      class="musicpiece d-block"
                              ></iframe>
                      </div>
                      <% i += 1 %>
                    <% end %>
                    <!-- spotify -->
                    <% if event.spotify_artist_id == nil %>
                      <% event.load_spotify_artist_id(event) %>
                    <% end %>

                    <% if event.spotify_artist_id != nil %>
                      <div class="carousel-item <%= "active" if i == 0 %>">
                        <iframe src="https://open.spotify.com/embed/artist/<%= event.spotify_artist_id %>" width="500" height="350" frameborder="0" allowtransparency="true" allow="encrypted-media" class="musicpiece d-block w-100"></iframe>
                      </div>
                      <% i += 1 %>
                    <% end %>
                    <!-- event picture -->
                    
                    <% if event.img != nil %>
                      <div class="carousel-item <%= "active" if i == 0 %>">
                        <%= image_tag event.img ,class: "musicpiece rounded mx-auto d-block img-fluid" %>
                      </div>
                      <% i += 1 %>
                    <% else %>
                      <div class="carousel-item <%= "active" if i == 0 %>">
                        <img class="musicpiece rounded mx-auto d-block img-fluid" src="http://via.placeholder.com/500x370">
                        <div class="carousel-caption">
                          <h3>暫無活動封面</h3>
                        </div>
                      </div>
                      <% i += 1 %>
                    <% end %>
                    

                  </div> <!-- .carousel-inner//end -->

                  <% if i > 1 %>
                    <ol class="carousel-indicators">
                      <% for j in 0..(i-1) %>
                        <li data-target="#carouselIndicators<%= event.id %>" data-slide-to="<%= j %>" class="<%= "active" if j == 0 %>"></li>
                      <% end %>
                    </ol>
                  
                    <a class="carousel-control-prev" href="#carouselIndicators<%= event.id %>" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselIndicators<%= event.id %>" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  <% end %>
                </div>
              </div>

              <div class="col-md-4 post-info">
                <div class="event-info">演出者 <span><%= event.artist_name %></span></div>
                <div class="event-info">城市 <span><%= event.city %></span></div>
                <div class="event-info">地點 <span><%= event.stage %></span></div>
                <div class="event-info time">時間 
                  <% if event.time == nil %>
                    <span><%= event.time %></span>
                  <% elsif %>
                    <span><%= event.time.slice(0..4) %></span>
                  <% end %>
                </div>
                <div class="event-info">收藏 
                  <span class="interest text-center">
                    <span><%= render partial: "shared/interest", locals: {object: event} %></span>
                    <span class="badge badge-dark"><%= event.interests_count %></span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div> 

      <div class="col-lg-3 col-md-3 col-sm-0">
        <h4>熱門活動</h4><br>
        <% @popular_events.each do |event| %>
          <%= render partial: "shared/event_list", locals: {object: event, flag: false} %>
        <% end %>
      </div>

      <div class="col-md-12"></div>
        <div class="paginate">
          <%= paginate @events %>
        </div>
      </div>
  
  </div>
</div>